/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        q {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
        };

        back {
            bindings = <&kp BACKSPACE>;
            key-positions = <10 9>;
        };

        semi {
            bindings = <&kp SEMICOLON>;
            key-positions = <32 33>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <15 16>;
            layers = <0>;
        };

        Plus {
            bindings = <&kp EQUAL>;
            key-positions = <19 20>;
            layers = <0>;
        };

        Tab {
            bindings = <&kp TAB>;
            key-positions = <25 26>;
        };
    };

    behaviors {
        MT_350: MT_350 {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_350";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q            &kp W                 &kp E               &kp R               &kp T        &kp Y      &kp U               &kp I                &kp O                 &kp P          &none
&none  &MT_350 LCTRL A  &MT_350 LEFT_SHIFT S  &MT_350 LEFT_ALT D  &MT_350 LEFT_WIN F  &kp G        &kp H      &MT_350 LEFT_WIN J  &MT_350 RIGHT_ALT K  &MT_350 LEFT_SHIFT L  &mt RCTRL SQT  &none
&none  &kp Z            &kp X                 &kp C               &kp V               &kp B        &kp N      &kp M               &kp COMMA            &mt COLON DOT         &kp SLASH      &none
                                              &mo 2               &mo 1               &kp SPACE    &kp ENTER  &mo 2               &mo 3
            >;
        };

        num-sym {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp LS(EXCL)   &kp LS(AT)    &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)    &kp N6    &kp N7    &kp N8        &kp N9     &kp N0   &trans
&trans  &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)   &kp LS(LPAR)  &kp LS(RPAR)     &kp N1    &kp N2    &kp N3        &kp N4     &kp N5   &trans
&trans  &kp PLUS       &kp MINUS     &kp LS(ASTRK)  &kp SLASH     &kp EQUAL        &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &kp END  &trans
                                     &trans         &trans        &trans           &kp HOME  &trans    &trans
            >;
        };

        move {
            bindings = <
&trans  &kp ESC   &mkp MB1        &mmv MOVE_UP    &mkp MB2         &mkp MB4           &kp PAGE_UP   &kp PAGE_DOWN  &kp UP_ARROW  &kp DEL    &kp BACKSPACE  &trans
&trans  &kp TAB   &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB5           &kp HOME      &kp LEFT       &kp DOWN      &kp RIGHT  &kp END        &trans
&trans  &kp CAPS  &msc SCRL_LEFT  &msc SCRL_UP    &msc SCRL_DOWN   &msc SCRL_RIGHT    &kp LS(LPAR)  &kp LS(RPAR)   &kp ENTER     &kp LBKT   &kp RBKT       &trans
                                  &trans          &trans           &trans             &trans        &trans         &trans
            >;
        };

        f1-12+ps {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp LC(PRINTSCREEN)  &kp LS(PRINTSCREEN)  &kp LA(PRINTSCREEN)  &kp LG(TAB)   &kp F11       &kp F1           &kp F2               &kp F3               &kp F4       &kp F5             &none
&none  &sk RCTRL            &sk LEFT_SHIFT       &sk LEFT_ALT         &sk LEFT_WIN  &kp F12       &kp F6           &kp F7               &kp F8               &kp F9       &kp F10            &none
&none  &bt BT_SEL 0         &bt BT_SEL 1         &bt BT_SEL 2         &bt BT_SEL 3  &bt BT_CLR    &kp PRINTSCREEN  &kp LA(PRINTSCREEN)  &kp LC(PRINTSCREEN)  &kp LG(TAB)  &kp LG(LS(RIGHT))  &none
                                                 &trans               &trans        &trans        &trans           &trans               &trans
            >;
        };
    };
};
